@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

$primary-color: #992f09;
$dark: #080602;
$secondary-color: #090300;
$white: #ffe6d9ee;
$bg: #fcfeffd6;
$black: #111111;
$red: rgb(218, 64, 64);
$green: rgb(5, 194, 106);

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    resize: none;
    text-transform: capitalize;

}

html
{
    scroll-behavior: smooth;
}

@for $i from 1 through 12
{
  .grid-#{$i}
  {
        display: grid;
        grid-template-columns: repeat(#{$i}, 1fr);
        grid-gap: 5px;
  }
}

.flex-column
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row
{
    display: inline-flex;
    justify-content: space-between;
}

.y-start
{
    @extend .flex-column;
    justify-content: flex-start;
}

.y-end
{
    @extend .flex-column;
    justify-content: flex-end;
}

.x-start
{
    @extend .flex-column;
    align-items: flex-start;
}

.x-end
{
    @extend .flex-column;
    align-items: flex-end;
}

.no-shadow
{
    box-shadow: none !important;
}
// scrollbar
::-webkit-scrollbar
{
    width: 5px;
    background: #000;
}
::-webkit-scrollbar-thumb
{
    background: linear-gradient(45deg, $primary-color, darken($primary-color, 75));
    border-radius: 10px;
}

.btn-rounded
{
    border-radius: 15px;
}

.shadowed
{
    box-shadow: inset 1px 1px rgba(255, 255, 255, 0.478), inset -1px -1px rgba(255, 255, 255, 0.132), 1px 3px 24px -1px rgba(0, 0, 0, 0.27);

}
.btn-round
{
    border-radius: 50%;

    *
    {
        margin: 0;
        padding: 0;
    }
}

.btn-primary
{
    background-color: $primary-color;
    color: $white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 2px solid $primary-color;


    i
    {
        margin-right: 5px;
        margin-left: 5px;
    }

    &:hover
    {
        background-color: transparent;
        color: $white;
        border: 2px solid $primary-color;

    }
}

.btn-transparent-primary
{
    background-color: transparent;
    color: $primary-color;
    border: 2px solid $primary-color;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    i
    {
        margin-right: 5px;
        margin-left: 5px;
    }

    &:hover
    {
        background-color: $primary-color;
        color: $white;
    }
}

.btn-transparent-secondary
{
    background-color: transparent;
    color: $secondary-color;
    border: 2px solid $secondary-color;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    i
    {
        margin-right: 5px;
        margin-left: 5px;
    }

    &:hover
    {
        background-color: $secondary-color;
        color: $white;
    }
}
.btn-gradient
{
    background: linear-gradient(-45deg, #021d2a,#5690ab );
    color: white;
    letter-spacing: 1px;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
    transition: all 1s ease-in;

    i
    {
        margin-right: 5px;
        margin-left: 5px;
        font-size: 17px;
    }

    &:hover
    {
        background: linear-gradient(-45deg,#5690ab, #021d2a);

    }

}


.btn-transparent-white
{
    background-color: transparent;
    color: $white;
    border: 1px solid $secondary-color;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 13px;
    cursor: pointer;

    i
    {
        margin-right: 5px;
        margin-left: 5px;
    }

    &:hover
    {
        transition: all 2s cubic-bezier(0.86, 0, 0.07, 1);

        backdrop-filter: blur(10px);

        border: 1px solid #5690ab;
    }
}


.normal-btn
{
    margin: 25px;
    width: auto;
    display: inline-block;
    min-width: auto;
    max-width: 184px;
    height: 42px;
    background-color: #fcfcfc;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    cursor: hand;
    align-self: center;-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 400ms ease 0s
}
.normal-btn .btn-text
{
    float: left;
    margin: 11px 14px 11px 14px;
    color: #757575;
    font-size: 14px;
    letter-spacing: .2px;
    font-family: Roboto;
    user-select: none
}
.normal-btn:hover
{
    box-shadow: 0 3px 8px rgba(117, 117, 117, .5);
    user-select: none
}
.normal-btn:active
{
    box-shadow: 0 1px 1px #757575;
    background: #F8F8F8;
    color: #fff;
    user-select: none
}

.dot-primary
{
    height: 30px;
    width: 50px;
    background-color: $primary-color;
    border-radius: 50%;
}

.border-primary
{
    height: 1px;
    width: 100px;
    background-color: #117dc5;
    padding: 0;
    border-radius: 50px;
}

.border-secondary
{
    height: 1px;
    width: 100px;
    background-color: #cfe5fe;
}

.border-white
{
    height: 1px;
    width: 100px;
    background-color: #fff;
}

.border-black
{
    height: 1px;
    width: 100px;
    background-color: #111111;
}

.txt-caps
{
    text-transform: uppercase;
}

.txt-lower
{
    text-transform: lowercase;
}

.txt-light
{
    font-weight: 300;
}
.txt-primary
{
    color: lighten($primary-color, 10);
}

.txt-secondary
{
    color: darken($secondary-color, 10);
}

.txt-white
{
    color: $white;
}

.txt-black
{
    color: $black;
}

.txt-red
{
    color: $red;
}

.txt-green
{
    color: $green;
}

.txt-center
{
    text-align: center;
}

.txt-grey
{
    color: lighten($black, 40%);
    opacity: 0.8;
}

.txt-gradient
{
    background: linear-gradient(-45deg, lighten(#ce7e4c, 2),lighten($primary-color, 10) );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 1px;

}

.txt-gradient-darkened
{
    background: linear-gradient(-45deg, lighten(#e6e1dc, 20),lighten($primary-color, 2) );

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 1px;

}

/* Animations */

@keyframes changebg
{
    0%
    {
        background: rgb(48,0,31);
        background: radial-gradient(circle, rgba(48,0,31,1) 5%, rgba(0,0,0,1) 45%);
    }
    25%
    {
        background: rgb(48,0,31);
        background: radial-gradient(circle, rgb(9, 25, 23) 5%, rgba(0,0,0,1) 45%); 
    }
    50%
    {
        background: rgb(48,0,31);
        background: radial-gradient(circle, rgb(37, 15, 32) 5%, rgba(0,0,0,1) 45%);
    }
    75%
    {
        background: rgb(48,0,31);
        background: radial-gradient(circle, rgb(0, 11, 41) 5%, rgba(0,0,0,1) 45%);
    }
    100%
    {
        background: rgb(48,0,31);
        background: radial-gradient(circle, rgb(0, 11, 41) 5%, rgba(0,0,0,1) 45%);
    }
}

@keyframes rotate
{
    100%
    {
        opacity: 1;
        transform: rotate(3600deg);
    }
}

@keyframes fadeIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

@keyframes fadeOut
{
    from
    {
        opacity: 1;
    }
    to
    {
        opacity: 0;
    }
}

@keyframes slideIn
{
    0%
    {
        position: relative;
        left: -100px;
        opacity: 0;
    }
    50%
    {
        position: relative;
        left: 10px;
        opacity: 0.5;
    }

    100%
    {
        position: relative;
        left: 0px;
        opacity: 1;
    }
}
