@import 'root';


body
{
    background: rgb(0, 0, 0);
    background: linear-gradient(221deg, rgb(4, 2, 2) 0%, rgb(12, 5, 2) 22%, rgb(0, 0, 0) 56%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;

    header
    {
        height: 50px;
        width: 100%;
        border-bottom: 1px solid lighten($secondary-color, 5);

        background: linear-gradient(to right, darken(#000, 20) 40%, lighten($secondary-color, 5));
        position: sticky;
        z-index: 999;
        top: 0;
        padding: 1% 2%;

        .title
        {
            p
            {
                font-size: 18px;
                text-transform: uppercase;

                span
                {
                    font-size: 18px;
                    text-transform: uppercase;
                }

            }
        }

        ul
        {
            position: relative;
            left: 60%;
            width: 20%;
            display: inline-flex;
            justify-content: space-around;
            top: -27px;

            li
            {
                margin-top: 0;

                a
                {
                    color: $white;
                    font-size: 12px;

                    &:hover
                    {
                        color: darken($primary-color, 1);
                    }
            }
        }
        }
    }

    main
    {
        height: 80vh;
        width: 100%;

        box-sizing: border-box;
        padding: 5% 0;

        .showcase
        {
            width: 90%;
            height: 90%;
            position: relative;
            top: 2%;
            @extend .flex-column;
            text-align: center;

            *
            {
                margin-bottom: 2%;
            }

            h1
            {
                font-size: 40px;
                color: $white;
                width: 70%;
                margin-bottom: 3%;
            }

            h3
            {
                font-size: 12px;
                width: 35%;
            }

            .grid-2
            {
                grid-gap: 10px;

                a
                {
                    font-size: 12px;
                }
            }

            .code-container
            {
                width: 80%;
                height: 30%;
                border: 1px solid lighten($secondary-color, 5);
            }
        }
    }

    section
    {
        height: 60vh;
        width: 100%;

        *
        {
            margin-bottom: 2%;
        }

        .code-container
        {
            width: 50%;
            height: 50%;
            border-radius: 10px;
            @extend .flex-column;
            box-sizing: border-box;


            .sub-container
            {
                width: 90%;
                background: linear-gradient(-45deg, darken($primary-color, 30), darken($primary-color, 65));
                height: 25%;
                border: 1px solid lighten($secondary-color, 5);
                border-radius: 15px;
                margin-bottom: 3%;
                display: inline-flex;
                padding-left: 2%;

                i, span
                {
                    margin-top: 2.5%;
                }

                i
                {
                    margin-top: 1.5%;
                    width: 20px;
                    height: 20px;
                    border-radius: 1px solid $primary-color;
                    color: $dark;
                    background-color: $white;
                    @extend .flex-column;
                    border-radius: 50%;
                    padding: 15px;
                    font-size: 13px;
                }

                span
                {
                    font-size: 13px;
                }

                i
                {
                    margin-right: 20px;
                }



            }

        }

        &:nth-of-type(2)
        {
            height: 80vh;
            @extend .flex-column;

            h1
            {

                margin-bottom: 10%;
            }

            .code-container
            {
                img
                {
                    border-radius: 15px;
                    width: 60%;
                    border: 1px solid darken($primary-color, 10);
                }
            }
        }
    }

}

