<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>My Agency</title>
</head>
<body>
    <header>
        <p>
            Pixel
            <span>Sequel</span>
        </p>

        <nav>
            <ul>
                <li>Home</li>
                <li>About</li>
            </ul>
        </nav>
    </header>

    <main>
        <form action="">
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="password">
            <input type="submit" value="Submit form">
        </form>
    </main>
</body>
</html>
